@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Philosopher:wght@400;700&display=swap');

.body{
    font-family: 'Philosopher' sans-serif;
    margin:auto;
    line-height: 2rem;
}

hr{
    margin:2rem 0rem;
}